* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}

body {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-image: url("img/starbucks/fundo.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.caixa-conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.caixa-textos {
    width: 600px;
}

h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 60px;

}

.texto-estarbucks {
    color: #017143;
    font-weight: 900;
    font-size: 70px;
}

.paragrafo {
    font-size: 16px;
    color: #ffffff
}

button {
    background-color: #017143;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer 
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background-color: #00b85f;

}

.logo {
    width: 80px
}

.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}

.imagem-copo {
    width: 340px;
}

.caixa-menu {
    display: flex;
    justify-content: center;
}

.botao-menu {
    width: 80px;
    cursor: pointer;
    transition: 10px;
}

.circulo {
    background-color: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

.botao-menu:hover {
    transform: translatey(-25px);

}